AWS_REGION=eu-north-1
AWS_PROFILE=default

MY_AWS_ENABLED_SERVICE_LOOKUPS=iam,s3,ecr,ssm
MY_AWS_S3_MAX_OBJECTS_PER_BUCKET=200
MY_AWS_S3_PREVIEW_EXTENSIONS=.html,.tf
MY_AWS_S3_MAX_PREVIEW_BYTES=1000000
